<%- include("header", {title: title}); %>

<h1>All the equipment available for booking</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Equipment</th>
        <th>Model</th>
        <th>Status</th>
    </tr>
<% for (const row of res) { %>
    <tr>
        <th><%=row.equipment_id%></th>
        <th><%=row.equipment_namn%></th>
        <th><%=row.equipment_model%></th>
        <th><%=row.equipment_stat%></th>
    </tr>
<% }; %>
</table>
<body>
    
</body>
<form class="lable-left" method="post">
<table>
    <tr>
        <th>Equipment</th>
        <th>Choose</th>
    </tr>
    <tr>
        <td>
            <select name="Equipment">
                <% for (const row of res) {%>
                <option value="<%= row.equipment_id %>"><%= row.equipment_id %></option>    
                <%}; %>
            </select>
        </td>
        <td>
            <input type="submit" name="doit" value="Book">
            <input type="hidden" name="userid" value="<%= userid %>">
        </td>
    </tr>
</table>
</form>

<%- include("footer"); %>