<%- include("header"); %>

<h1><%=name%>s Profile</h1>

<table>
    <tr>
        <th>id</th>
        <th>Name</th>
        <th>Email</th>
    </tr>
    <tr>
        <td><%=id%></td>
        <td><%=name%></td>
        <td><%=email%></td>
    </tr>
</table>
<body>
    <nav>
        <a href="/bookEquipment">Book Equipment</a> | 
        <a href="/currentlyBooked">My bookings</a>
    </nav>
</body>

<%- include("footer"); %>